*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin: 1rem;
    padding-top: 3rem;
    
}

td {
    border: 1px solid darkslategrey;
    position: relative;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: linen;
}

/* body {
    background-color: rgb(231, 189, 241);
} */


body{background-image:   
    repeating-linear-gradient(
        90deg,
        /* 29deg, */
    rgb(191, 245, 159),
    rgb(191, 245, 159)85px,
    rgb(245, 194, 228) 85px,
    rgb(245, 194, 228)165px/* determines size */

);

};